<% if @params %>
    <h2>Параметры</h2>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#game">Игровое</a></li>
        <li><a  data-toggle="tab" href="#tech">Техническое</a></li>
    </ul>

    <div class="tab-content">
        <div id="game" class="tab-pane active">
            <table class="table table-striped">
                <% for param in @params.keys %>
                    <% if @params[param]["t"] == "G" then %>
                        <tr>
                            <td align=right><%= @params[param]["name"]  %>:&nbsp;</td>
                            <td align=left><tt><%= param %></tt></td>
                            <td><%= @params[param]["value"] %></td>
                        </tr>
                    <% end %>
                <% end %>
                <tr>
                    <td>
                    </td>
                    <td>
                        <%= params = { :action => "param_edit", :t => "G" }
                            if defined? dev_id
                                params[:dev_id] = dev_id
                            end
                            link_to "Редактировать", params, :class => "linkbutton" %>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tech" class="tab-pane">
            <table class="table table-striped">
                <% for param in @params.keys %>
                    <% if @params[param]["t"] == "T" then %>
                        <tr>
                            <td align=right><%= @params[param]["name"]  %>:&nbsp;</td>
                            <td align=left><tt><%= param %></tt></td>
                            <td><%= @params[param]["value"] %></td>
                        </tr>
                    <% end %>
                <% end %>
                <tr>
                    <td>
                    </td>
                    <td>
                        <%= params = { :action => "param_edit", :t => "T" }
                            if defined? dev_id
                                params[:dev_id] = dev_id
                            end
                            link_to "Редактировать", params, :class => "linkbutton" %>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<% end %>

