<script>
    if (confirm("Вы подтверждаете удаление?")) {
        return true;
    } else {
        return false;
    }
</script>

<% if @upgrades %>
    <% 
        headers = {}
        values = {}
        for u in @upgrades
            if u["values"].nil?
                next
            end
            for v in u["values"].keys
                param_id = v
                #param_name = v["param_name"]
                headers[param_id] = param_id
                if values[param_id].nil?
                    values[param_id] = {}
                end
                values[param_id][u["id"]] = u["values"][v]
            end
        end
    %>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                    <th/>
                <% for u in @upgrades %>
                    <th>
                        <%= u["description"] %>
                    </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% for h in headers.keys %>
                <tr>
                    <th>
                        <tt><%= h %></tt><br/>
                        <%= headers[h] %>
                    </th>
                    <% for u in @upgrades %>
                        <td>
                            <%= values[h][u["id"]] %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
            <tr>
                <td/>
                <% for u in @upgrades %>
                    <td>
                        <%= link_to "Ред.", {:action => "upgrade_edit", :upg_id => u["id"]}, :class => "btn btn-default" %>
                        <%= link_to "X", {:action => "upgrade_delete",  :upg_id => u["id"]}, :class => "btn btn-default", :onclick => "return confirm('Удалить улучшение?');"%>
                    </td>
                <% end %>
            </tr>
        </tbody>
    </table>
<% else %>
    Нет улучшений
<% end %>
<%= params = { :action => "upgrade_edit", :t => "T" }
    if defined? dev_id
        params[:dev_id] = dev_id
    end
    link_to "Добавить", params, :class => "linkbutton" %>

