<script>
    function formSubmit()
    {
        var a_checked = $('input:radio[name="type"]:checked').val();
        var errors = [];

        var v_name = $('input:text[name="name"]').val();
        if (null != v_name)
        {
            v_name = v_name.trim();
            $('input:text[name="name"]').val(v_name);
        }
        
        if (null == v_name || v_name.length == 0)
        {
            errors.push('Название пустым быть не может');
        }
        
        if (null == a_checked)
        {
            errors.push("Надо бы какой-нибудь тип указать");
        }

        if (errors.length > 0)
        {
            var errStr;
            if (errors.length > 1)
            {
                errStr = "Ошибки:<br/>";
            }
            else
            {
                errStr = "Ошибка:<br/>";
            }
            for (var i = 0; i < errors.length; ++i)
            {
                errStr += errors[i] + '<br/>';
            }

            $.modal(errStr);
            return false;
        }
        
        return true;
    }
</script>
<%= render partial: "parameters", locals: { dev_id: @device["id"]} %>
<%= form_tag({:action => "device_write"}, {:id => "device_form", :onSubmit => 'return formSubmit();'}) do %>
    <%= hidden_field_tag 'id', @device["id"] %>
    <table>
        <tbody>
            <tr>
                <td align="right">id</td>
                <td><%= label_tag("label_id", @device["id"], :size => "100%", :maxlength => 10) %></td>
            </tr>
            <tr>
                <td align="right">Название</td>
                <td><%= text_field_tag("name", @device["name"], :size => "100%", :maxlength => 255) %></td>
            </tr>
            <tr>
                <td align="right">Тип</td>
                <td>
                    <table>
                        <tr>
                            <td><%= radio_button_tag 'type', 'A', (@device["type"] == 'A')  %><%= label_tag 'type_armor', 'Броня', {:for => "type_A"} %></td>
                        </tr>
                        <tr>
                            <td><%= radio_button_tag 'type', 'V', (@device["type"] == 'V') %><%= label_tag 'type_vehicle', 'Транспорт', {:for => "type_V"} %></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <%= submit_tag("Сохранить") %>
                </td>
            </tr>
        </tbody>
    </table>
<% end %>

Статистика:
<table border=1>
    <tbody>
        <% for s in @stat %>
            <tr>
                <td><%= s["key"] %></td>
                <td><%= s["value"] %></td>
                <td><%= Time.parse(s["dt"] + ' GMT') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
