<%
def device_edit_path(id)
    return "device_edit/" + id
end

def map_path(id)
    return "gpx?dev_id="+id
end
%>

<%= render partial: "parameters", dev_id: nil %>

<h2>Известные устройства</h2>
    <% if @known_list.empty? %>
        Известных устройств нет
    <% else %>

        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последний ping</th>
                <th>Последние данные</th>
                <th>Карта</th>
            </tr>
            <%  i = 1
                for u in @known_list %>
                <tr>
                    <td><%= link_to u['id'], device_edit_path(u['id']) %></td>
                    <td><%= link_to u['name'], device_edit_path(u['id']) %></td>
                    <td>ping:&nbsp;<%= u['ping_dt'].nil? ? '---' : Time.at(u['ping_dt'].to_f) %></td>
                    <td>gps:&nbsp;<%= u['point_dt'].nil? ? '---': Time.at(u['point_dt'].to_f) %></td>
                    <td><%= u['point_dt'].nil? ? "": (link_to 'карта', map_path(u['id'])) %></td>
                </tr>
            <% end %>
        </table>
    <% end %>
</div>

