<script>
    function formSubmit()
    {
        return true;
    }
</script>
<%= form_tag({:action => "upgrade_write"}, {:id => "device_form", :onSubmit => 'return formSubmit();'}) do %>
    <% unless @return_to.nil? %>
        <%= hidden_field_tag 'return_to', @return_to %>
    <% end %>
    <% unless @dev_id.nil? %>
        <%= hidden_field_tag 'dev_id', @dev_id %>
    <% end %>
    <% unless @upg_id.nil? %>
        <%= hidden_field_tag 'upg_id', @upg_id %>
    <% end %>
    Описание:&nbsp;<%= text_field_tag("description", @upgrade["description"], :size => "100%", :maxlength => 255) %>
    <table class="table table-striped">
        <% for p in @params.keys
            if @params[p]["t"] != 'G'
                next
            end
        %>
            <tr>
                <td>
                    <tt><%= p %></tt>
                </td>
                <td>
                    <%= @params[p]["name"] %>
                </td>
                <td>
                    <% 
                        if @upgrade["values"].nil?
                            value = ''
                        else
                            value = @upgrade["values"][p]
                        end
                    %>
                    <%= text_field_tag(p, value, :size => "100%", :maxlength => 255) %>
                </td>
            </tr>
        <% end %>
        <td></td>
        <td>
            <%= submit_tag("Сохранить") %>
        </td>
        <td></td>
    </table>
<% end %>
