<script>
    function formSubmit()
    {
        var n = $('input:text[name="id"]').val();
        var p1 = $('input:password[name="pw1"]').val();
        var p2 = $('input:password[name="pw2"]').val();

        if (p1 != p2)
        {
            alert("Пароль не пароль");
            return false;
        }

        var hash = CryptoJS.SHA3(p + ':' + n);
        
        $('input:hidden[name="hash"]').val(hash);
        $('input:hidden[name="login"]').val(n);
        var checkbox_checked = $('input:checkbox[name="admin_status"]').is(':checked');
        alert (checkbox_checked);
        //$('input:hidden[name="status"]').val();
        var f = $("#hidden_form");
        f.submit();
        return false;
    }
/*
    function userEditOnLoad()
    {
    }

    if (window.addEventListener)
    {
        window.addEventListener('load', userEditOnLoad, false);
    }
    else
    {
        window.attachEvent('onload', userEditOnLoad);
    }
*/
</script>

<form id="user_form" onsubmit="return formSubmit();">
<%= hidden_field_tag 'old_id', @user["id"] %>
<table>
    <tbody>
        <tr>
            <td align="right">id</td>
            <td><%= text_field_tag("id", @user["id"], :size => "100%", :maxlength => 255) %></td>
        </tr>
        <tr>
            <td align="right">Пароль</td>
            <td><%= password_field_tag("pw1", "", :size => "100%", :maxlength => 255) %></td>
        </tr>
        <tr>
            <td align="right">Ещё пароль</td>
            <td><%= password_field_tag("pw2", "", :size => "100%", :maxlength => 255) %></td>
        </tr>
        <tr>
            <td align="right">Администратор?</td>
            <td><%= check_box_tag("admin_status", value = "1", checked = @user["status"] == 'A') %></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <%= submit_tag("Сохранить") %>
            </td>
        </tr>
    </tbody>
</table>

</form>

<%= form_tag({:action => "user_write"}, :id => "hidden_form") do %>
    <%= hidden_field_tag 'hash' %>
    <%= hidden_field_tag 'login' %>
    <%= hidden_field_tag 'status' %>
<% end %>

